<!DOCTYPE html>
<html>
  <head>
    <title>Dic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav navbar-nav float-right">
    <% if logged_in? %>
      <li class="border"><%= link_to "ブログ一覧", blogs_path %></li>
      <li class="border"><%= link_to current_user.name, user_path(current_user.id) %></li>
      <li class="border"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    <% else %>
      <li class="border"><%= link_to "新規登録", new_user_path %></li>
      <li class="border"><%= link_to "ログイン", new_session_path %></li>
    <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
